* {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    display: none;
}

table {
  border-collapse: collapse;
  width: 640px;
  height: 640px;
  box-shadow: 0px 0px 3px #ddd;
  background: #ddd;
  padding: 5px;
}

td {
  border: 1px solid lightgrey;
}

.basepixel {
  height: 4px;
  width: 4px;
  background: transparent;
}

.code {
  height: 250px;
  overflow: auto;
}
.container {
  width: 920px;
  margin:0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.col-lg-12 {
  width: 100%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-3 {
  width: 33,33%;
}

#colorSelector {
  border: none;
  background: none;
  outline: none;
}

.code {
  white-space: pre-wrap;
}

.absolute {
  position: absolute;
}

.right {
  right: 100px;
  top: 10%;
}

.palette {
  position: absolute;
  top: 100px;
  left: -100px;
  height: 500px;
  overflow: auto
}

.btn {
  box-sizing:border-box;
  border-radius: 2px;
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
  background: white;
  border: 1px solid black;
}
